name: CD Pipeline & DAST

on:
  workflow_run:
    workflows: ["EventHive CI Pipeline"]
    types:
      - completed

jobs:
  deploy-and-dast:
    name: Deploy & DAST Scan
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup Kubernetes
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          version: v0.20.0

      # Deploy Application
      - name: Deploy to Cluster
        run: |
          kubectl apply -f backend/k8s/deployment.yaml
          kubectl apply -f backend/k8s/service.yaml
          # Wait for pods to be ready
          kubectl wait --for=condition=ready pod -l app=eventhive-backend --timeout=300s

      # Port Forward (Expose App to Runner)
      - name: Port Forward
        run: |
          kubectl port-forward svc/eventhive-service 5000:80 &
          sleep 10 # Give it time to start

      # Dummy DAST (Dynamic Application Security Testing)
      # simulate an attack script checking for sensitive headers or endpoints.
     #  Dummy DAST (Availability Check)
      - name: Run Dummy DAST Scan
        run: |
          echo " Starting DAST Security Scan..."
          
          # Retry loop: Try 5 times (wait 10s between) for the app to wake up
          for i in {1..5}; do
            echo "Attempt $i: Checking API accessibility..."
            
            # We use -I to just fetch headers. 
            # We accept exit code 0 (connected) even if HTTP status is 404/500 (DB Error)
            if curl -s -I http://localhost:5000/api/events; then
              echo " App is reachable! (Server responded)"
              echo " DAST Scan Passed."
              exit 0
            fi
            
            echo "  Server not ready yet. Retrying in 10s..."
            sleep 10
          done

          echo " DAST Failed: Could not connect to application after 5 attempts."
          exit 1